<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/articles/edit/<%=data[0].id%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">Title</td><td> <input type="text" name="title" value="<%=data[0].title%>" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Body</td>
                    <td valign="top">
                        <textarea name="body" required cols="40" rows="8"><%=data[0].body%></textarea>
                    </td>
                </tr>
                 <tr>
                   <td class="label" valign="top">Author</td>
                   <td valign="top"><input type="text" name="author" value="<%=data[0].author%>"></td>
                 </tr>
                 <tr>
                   <td class="label" valign="top">Date Posted</td>
                   <td><%=dateFormatter(data[0].date.getDate(), data[0].date.getMonth(), data[0].date.getFullYear())%></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
